/* 
* @Author: Marte
* @Date:   2017-03-20 14:15:14
* @Last Modified by:   Marte
* @Last Modified time: 2017-03-28 14:18:14
*/
body{    font-family: '寰蒋闆呴粦';}
li{list-style: none;}
.disignersCenterBg{height:200px;width:100%;background:url(../../images/designer/disignersCenterBg.jpg) no-repeat center;}
.disignerPersonBg{height:200px;width:100%;background:url(../../images/designer/disignerPersonBg.jpg) no-repeat center;}
.designerCenterTil{font-weight: normal;}
.designerCenterTil span{border-bottom: 3px solid #eba524;}
.designerCenterList ul li{float: left;border:1px solid #c1c5cf;font-size: 14px;margin-left: 6px;margin-right: 6px;margin-bottom: 20px;position:relative;}
.designerCenterList ul li .designerCenterImgBox_L{height:280px;width:280px;}
.designerCenterList ul li .designerCenterImgBox_R{width:310px;padding-right: 14px;;}
.designerCenterImgBox_R .lookDetailBtn{border:1px solid #dddddd;padding:6px 20px;display:inline-block;}
.designerCenterImgBox_R .lookDetailBtn:hover{background-color:#eba524;border-color: #eba524;color:#fff;transition:all 0.5s;}


/*banner涓撳尯*/
.designerBannerBox{height:450px;position:relative;width:100%;}
.designerBannerBox{height:450px;position:relative;width:100%;}
.designerBannerList{height:450px;width:100%;}
.designerBannerDot{position:absolute;left:50%;bottom:20px;margin-left: -40px;}
.designerBannerDot .designerBannerOl li{float: left;height:10px;width:10px;background:rgba(250,250,250,0.3);border-radius: 10px;margin-left: 8px;margin-right: 8px;cursor:pointer;}
/*.comeToNextPage{position:absolute;right:50px;top:20px;text-align: right;font-size: 18px;}
.comeToNextPage .bokeLinkBtn{color:#ff5274;}*/
.designerBannerDot .designerBannerOl li.current{background:#ff5274;}
.designerBannerList .designerBannerUl li{height:450px;width:100%;position:absolute;left:0;top:0;}
.designerBannerList .designerBannerUl li .designersListBg{height:450px;width:100%;display:inline-block;cursor:default;position:relative;}
.designerBannerList .designerBannerUl li .designerBannerBtn{position:absolute;bottom:160px;padding:16px 80px;background-color: #eba524;color:#fff;font-size:24px;left:50%;margin-left: -128px;border-radius: 30px;cursor:pointer;}
.designerBannerList .designerBannerUl li .designerBannerBtn:hover{background-color:#f68c2e;transition:all 0.5s;}
/*.cadDownloadBtn{padding:10px 60px 10px 40px;background:#ff5274 url(../../images/pattern/cadDownloadBtn.png) 200px center no-repeat;display:inline-block;color:#fff;font-size: 18px;margin-top: 270px;margin-left:200px;margin-right: 100px;border-radius: 20px;}*/
/*.matchBtn{padding:10px 40px;background:#ff5274 ;display:inline-block;color:#fff;font-size: 18px;border-radius: 20px;}*/









/*璁捐甯堣疆鎾儴鍒�*/
.slideGroup{ width:1280px; text-align:left; margin:0 auto; }
.slideGroup .ithzsShow{ overflow:hidden; zoom:1; padding:10px 0 10px 46px; position:relative; padding-bottom: 60px; }

.slideGroup .ithzsShowPrev,.slideGroup .ithzsShowNext{background-color:#fff; position:absolute; left:5px; top:10px; display:block; width:30px; height:280px; border:1px solid #ddd; line-height:320px;}
.slideGroup .ithzsShowNext{ left:auto; right:5px;}
.slideGroup .ithzsShowPrev:hover,.slideGroup .ithzsShowNext:hover{ border-color:#ff5274;  }

.slideGroup .ithzsShowBox ul{ overflow:hidden; zoom:1;   }
.slideGroup .ithzsShowBox ul li{ margin:0 8px; float:left; _display:inline; overflow:hidden; text-align:center;  }
.slideGroup .ithzsShowBox ul li .pic{ text-align:center; }
.slideGroup .ithzsShowBox ul li .pic img{ width:120px; height:90px; display:block;  padding:2px; border:1px solid #ccc; }
.slideGroup .ithzsShowBox ul li .pic a:hover img{ border-color:#999;  }
.slideGroup .ithzsShowBox ul li .title{ line-height:24px;   }
.ithzsShow{height:280px;}
.ithzsShow ul{position:absolute;width:3000px;}
.ithzsShow ul li{float: left;margin-left:20px;margin-right: 20px;list-style: none;position:relative;overflow:hidden;height:280px;border:1px solid #eee;}
.ithzsShowUl li a{display:inline-block;}
.ithzsShow ul li:hover{border-color:#232731;}
.ithzsShow ul li a p{width:280px;height:280px;}
.ithzsShow ul li a p img{width:280px;height:280px; }
.ithzsShow ul li a span{display:inline-block;height:120px;width:280px;text-align: center;background:rgba(0,0,0,0.6);transform:translate(0px,0px);transition:all 1s;}
.ithzsShow ul li a:hover span{transform:translate(0px,-120px);}
.ithzsShow ul li a span em{height:28px;display:inline-block;width:100%;line-height: 20px;color:#fff;font-style: normal;width: 100%;word-break: break-all;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;}
.ithzsShow ul li a span i{height:30px;display:inline-block;width:90px;line-height: 30px;color:#232731;font-style: normal;border:1px solid #fff;color:#fff;}
.ithzsShow ul li a span i:hover{background-color: ;}
.ithzsShowDown .listTitle{margin-top:40px;line-height:60px;font-weight: normal;font-size: 22px;}
/*璁捐甯堣疆鎾畬鎴�*/
.personIntroduceBox{position:relative;height:180px;}
.personIntroduceBox .personIntroduce_R{padding:5px;background-color:#fff;position:absolute;left:15px;top:-30px;width:120px;}
.personIntroduceBox .personIntroduce_L{margin-left: 160px;width: 1100px;max-height: 170px;overflow-y: auto;overflow-x: hidden;}
.personWorksTil .personWorksUl{border-top: 1px solid #dddddd;border-bottom: 1px solid #dddddd;background-color:#fafafa;}
.personWorksTil .personWorksUl li{float: left;padding:16px 25px;text-align: center;border-right: 1px solid #ddd;color:#999;cursor:pointer;}
.personWorksTil .personWorksUl li.current{background-color:#fff;color:#333;}
.personWorksCont .personList{margin:10px;}
.personWorksCont .personList li{float: left;padding:8px 16px;margin: 10px;border:1px solid #dddddd;border-radius: 5px;-webkit-border-radius: 5px;cursor:pointer;}
.personWorksCont .personList li.currentOn{border-color: #eba524;color:#eba524;}
.centerListTil .centerTilUl li{float: left;margin-left: 10px;padding:10px 30px;color:#666;background-color:#dedede;border-radius: 5px 5px 0 0 ;-webkit-border-radius: 5px 5px 0 0;cursor:pointer;}
.centerListTil .centerTilUl li.current{background-color: #313a43;color:#fff;}
.centerListCont .centerContUl li{float: left;margin:10px 6px;padding:10px 10px; color:#505050;cursor:pointer;text-align: center;}
.centerListCont .centerContUl li.currentOn{color:#eba524;}


/*寮规*/
.recommendWorksTil{border-bottom: 1px solid #ddd;position:relative;}
.recommendWorksTil .newRecommendWorks{width:160px;text-align: center;padding:5px 0 ; background-color: #fff;position:absolute;left:50%;margin-left: -80px;top:-20px;}
.recommendWorksImg ul li {margin:10px;float: left;cursor:pointer;}
.recommendWorksImg ul li img{height:130px;width:130px;}



/*鍒楄〃鍏敤鐨�*/
.designersListCont .designersListUl li{width:300px;margin-left: 10px;margin-right: 10px;margin-bottom: 20px;float: left;cursor:pointer;}
.designersListCont .designersListUl li .designersLisImg{height:300px;width:300px;overflow: hidden;text-align: center;}








